* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 100%;
}

.container_header {
    width: 100%;
    height: 100px;
    background: #EDECF7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 75%;
    display: grid;
    grid-template-columns: 60px 1fr 200px;
    align-items: center;
}

@media (max-width: 1500px) {
    .header {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .header {
        width: 90%;
    }
}

.menu_item {
    text-decoration: none;
    padding: 25px 15px;
}

.menu_item:hover {
    background: rgba(81, 80, 118, 0.1);
    border-radius: 3px;
}

.header_menu {
    margin-left: 4%;
}

.menu_item {

}

.item_link {
    color: #515076;
}

.header_card {
    display: flex;
}
.card_contacts {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts_link {
    color: #515076;
}

.wrapper_content {
    width: 100%;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content_home {
    width: 75%;
}

@media (max-width: 1500px) {
    .content_home {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_home {
        width: 93%;
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.home_imgSeed {
    background-image: url("./img/bgs/Seed.png");
    background-repeat: no-repeat;
    width: 1451px;
    z-index: -100;
    height: 110%;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1500px) {
    .home_imgSeed {

    }
}

@media (max-width: 1100px) {
    .home_imgSeed {

    }
}

.home_imgBerries {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 60%),
    url("./img/bgs/berries.png") no-repeat;
    position: absolute;
    top: 1100px;
    right: 0;
    width: 1583px;
    height: 100%;
    z-index: -100;
}

@media (max-width: 1500px) {
    .home_imgBerries {

    }
}

@media (max-width: 1100px) {
    .home_imgBerries {

    }
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.home_header {
    font-family: Playfair Display, sans-serif;
    font-size: 230px;
    line-height: 92.4%;
    display: flex;
    align-items: center;
    color: #515076;
}

.home_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content_block1 {
    text-align: start;
    margin-top: 88px;
    display: grid;
    grid-template-rows: 1000px 1fr;
}

.home_subHeader {
    font-size: 36px;
    line-height: 132.67%;
    color: #63678C;
}

.infoBlock_block {
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}

.content_block2 {
    margin-top: 54px;
    display: grid;
    grid-template-rows: 150px 220px 200px 200px 180px;
}

.infoBlock_diamaint {
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #828282;
}

.diamaint {
    color: #63678C;
}

.content_block3 {
    display: grid;
    grid-template-rows: 800px 400px;
}

.infoBlock_star {
    text-align: end;
    align-content: end;
    width: 100%;
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    display: flex;
    text-transform: uppercase;
    color: #888794;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.infoBlock_symbolStar {
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #888794;
}

.infoBlock_blockUnderStar {
    width: 172px;
}

.infoBlock_infoBlock5 {
    font-weight: 300;
    font-size: 36px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.home_btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnWrapper_btn {
    background: #515076;
    border-radius: 100px;
    outline: none;
    border: none;
    display: flex;
}

.btn_inner {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 35px;
}

.content_products {
    margin-top: 200px;
    width: 75%;
}

@media (max-width: 1500px) {
    .content_products {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_products {
        width: 93%;
    }
}

.products_imgSeeds_group {
    background-image: url("./img/bgs/SeedsGroup.png");
    background-repeat: no-repeat;
    width: 873px;
    height: 100%;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 1850px;
}

.products {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.products_header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    text-align: center;
    color: #757AA5;
}

.products_examples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: flex-end;
}

.example {
    background: #F7F7FA;
    max-width: 330px;
    height: fit-content;
}

.examples_ex2 {
    max-width: 380px;
}

.ex_wrapper {
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ex_description {

}

.description_skinType {
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.description_header {
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.description_payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment_price {
    font-weight: 500;
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.price_prev {
    text-decoration: line-through;
    font-size: 16px;
    margin-right: 10px;
    color: #888794;
}

.content_sales {
    margin-top: 250px;
    width: 75%;
}

@media (max-width: 1500px) {
    .content_sales {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_sales {
        width: 93%;
    }
}

.sales_header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 1400px) {
    .sales_header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 100px;
    }
}

.sales_imgVetka {
    background-image: url("./img/bgs/vetka.png");
    background-repeat: no-repeat;
    width: 1015px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -100;
}

.salesHeader_wrapper {

}

.header_main {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.header_sub {
    font-weight: 500;
    font-size: 18px;
    line-height: 199.99%;
    color: #888794;
    width: 333px;
    margin-top: 100px;
}

.header_slider {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slider_prev {
}

.slider_next {
    margin-left: 20px;
}

.sales_wrapperSlider {
    height: 521px;
    max-width: 810px;
    background: #F7F7FA;
    box-shadow: -40px 40px 0 #515076;
    display: grid;
    grid-template-columns: 20px 1fr 1fr;
}

.wrapperSlider_sideString {
    transform: rotate(270deg);
    font-weight: 500;
    font-size: 13px;
    line-height: 199.99%;
    text-align: right;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 100%;
    top: 250px;
    left: 2px;
    position: relative;
    width: 451px;
}

.slider_info {
    margin: 58px 0 0 5%;

}

.sliderInfo_header {
    max-width: 337px;
    height: 156px;
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #4C5072;
}

.sliderInfo_body {
    max-width: 433px;
    height: 111px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #888794;
    padding-top: 20px;
}

.slider_img {
    display: flex;
    align-items: center;
}

.sliderImg_body {
    max-width: 100%;
}

.sales_products {
    margin-top: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: self-end;
    justify-items: center;
}



@media (max-width: 1200px) {
    .content_sales {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.prod {
    height: fit-content;
    max-width: 350px;
    min-width: 50%;
    background: #F7F7FA;
}

@media (max-width: 1500px) {
    .prod {
        max-width: 90%;
    }
}

.sale1 {
    font-size: 36px;
    line-height: 135.99%;
    padding: 25px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.1)
}

.sale2 {
    margin-bottom: -180px;
    font-weight: 500;
    font-size: 36px;
    line-height: 135.99%;
    padding: 50px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.15);
}

.sale3 {
    margin-bottom: -440px;
    font-weight: 600;
    font-size: 36px;
    line-height: 135.99%;
    padding: 75px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.2);
}

.sale {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod_body {
    padding: 10px 40px 35px 40px;
}

.prod_description {
    font-size: 18px;
    line-height: 135.99%;
    color: #515076;
}

.prod_payment {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 135.99%;
    color: rgba(81, 80, 118, 1);
    display: flex;
    justify-content: space-between;
}

.price_prev {
    font-weight: 500;
    font-size: 18px;
    line-height: 135.99%;
    text-decoration-line: line-through;
    color: rgba(81, 80, 118, 0.6);
}

.sale2_imgs {
    width: 350px;
}

.sale2_b1 {
    position: relative;
    top: 250px;
    z-index: 1;
}

.sale2_b2 {
    position: relative;
    left: 60px;
    bottom: 10px;
    z-index: 0;
}

.sale3_b1 {
    position: relative;
    top: 520px;
    z-index: 3;

}

.sale3_b2 {
    position: relative;
    top: 230px;
    left: 100px;
    max-width: 100%;
}


.sale3_b3 {
    position: relative;
    right: 40px;
    bottom: 35px;
}

.content_about {
    margin-top: 350px;
    width: 100%;
    background: #EDECF6;
    height: 1020px;
}

@media (max-width: 1300px) {
    .content_about {
        height: 100%;
    }
}

.about_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Playfair Display, sans-serif;
    font-size: 330px;
    line-height: 92.4%;
    color: #D6D4E7;
    position: relative;
    bottom: 200px;
}

@media (max-width: 1350px) {
    .about_header {
        font-size: 290px;
        bottom: 180px;
    }
}

@media (max-width: 1200px) {
    .about_header {
        font-size: 200px;
        bottom: 125px;
    }
}

.about_wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.about_imgFlower {
    background-image: url("img/bgs/flower.png");
    background-repeat: no-repeat;
    width: 638px;
    height: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
}

@media (max-width: 1920px) {
    .about_imgFlower {
        top: 4800px;
    }
}

    @media (max-width: 1300px) {
    .about_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .about_infoBlock {
        justify-self: center;
        margin-bottom: 30px;
    }
}

.wrapper_imgs {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 1300px) {
    .wrapper_imgs {
    }
}

.img_woman {
    background-image: url("./img/bgs/woman.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 4800px;
    left: 50px;
    height: 700px;
    width: 1014px;
    z-index: 2;
}

@media (max-width: 1400px) {
    .img_woman {
        top: 5350px;
    }
    .about_imgFlower {
        top: 5450px;
        z-index: 1;
    }
}

.img_blur {
    background-image: url("./img/bgs/blur.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5200px;
    left: 0;
    height: 400px;
    width: 1209px;
    z-index: 3;
}

@media (max-width: 1400px) {
    .img_blur {
        top: 5750px;
    }
}

.img_ellipse {
    background-image: url("./img/bgs/Ellipse.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 4800px;
    left: 120px;
    height: 600px;
    width: 546px;
    z-index: 0;
}

@media (max-width: 1400px) {
    .img_ellipse {
        top: 5350px;
    }
}

.img_berries {
    background-image: url("./img/bgs/berries3.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5350px;
    left: 650px;
    width: 174px;
    height: 200px;
    z-index: 3;
}

@media (max-width: 1400px) {
    .img_berries {
        top: 5900px;
    }
}


.about_infoBlock {
    max-width: 462px;
    position: relative;
    z-index: 10;
}

@media (max-width: 1200px) {
    .about_infoBlock {
        justify-self: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.infoBlock_subheader {
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.infoBlock_header {
    margin-top: 50px;
    font-weight: 300;
    line-height: 109.4%;
    display: flex;
    flex-direction: column;
    color: #515076;
    font-size: 100px;
}

.infoBlock_header_int {
    font-size: 120px;
}

.infoBlock_info {
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #888794;
}



.content_useful {
    width: 75%;
    margin-top: 125px;
    height: 1060px;
}

@media (max-width: 1500px) {
    .content_useful {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_useful {
        width: 93%;
    }
}

.useful_header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    text-align: center;
    color: #757AA5;
    width: 100%;
}

.useful_items {
    margin-top: 80px;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas:
                ". first ."
                "sec . third"
                ". fourth .";
}

@media (max-width: 1100px) {
    .useful_items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-template-areas: "first sec"
                             "third fourth";
    }
}

.item {
    max-width: 300px;
    height: 400px;
    background: #F7F7FA;
    box-shadow: 0 -6px 0 #515076;
}

.item_content {
    padding: 30px 14px 35px 48px;
}

.item_subheader {
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.item_header {
    margin-top: 20px;
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.item_body {
    margin-top: 30px;
    font-size: 14px;
    line-height: 180%;
    color: #888794;
}

.item_action {
    margin-top: 80px;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
    display: flex;
    align-items: center;

}

.item_action4 {
    margin-top: 105px;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
    display: flex;
    align-items: center;
}

.item_dash1 {

}

.item1 {
    grid-area: first;
    /*position: relative;*/
    /*left: 800px;*/
}

.item2 {
    grid-area: sec;
    /*position: relative;*/
    /*left: 170px;*/
    /*top: 230px;*/
    margin-top: 50px;
}
@media (max-width: 1100px) {
    .item2 {
        margin-top: 0;

    }

}

.item3 {
    grid-area: third;
    /*position: relative;*/
    /*left: 530px;*/
    /*top: 120px;*/


}

.item4 {
    grid-area: fourth;
    margin-bottom: 150px;

}

.content_authors {
    margin-top: 145px;
    width: 75%;
}





.authors_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.authors_info {
    display: grid;
    grid-template-rows: 150px 1fr 200px;
}

.authors_header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.author_info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 600px;
}

.author_name {
    margin-top: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 199.99%;
    color: #515076;
}

.author_desc {
    margin-top: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #888794;
    max-width: 665px;
}

.quote {
    margin-top: 40px;

    display: flex;
    align-items: flex-start;
}

.author_symbQuotes {
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 180%;
    color: #77877F;
}

.author_quote {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #888794;
    margin-left: 40px;
    max-width: 554px;
}

.author_slider {
    display: flex;
    margin-top: 75px;
    max-width: 665px;

}

.author_slider_image1 {
width: 186px;
    height: 207px;
    box-shadow: 0 -6px 0 #515076 ;
}

.author_slider_image2 {
    width: 186px;
    height: 207px;
    box-shadow: 0 -6px 0 #515076 ;
    margin-left: 60px;
}

.author_slider_image3 {
    width: 186px;
    height: 207px;
    box-shadow: 0 -6px 0 #515076 ;
    margin-left: 60px;
}

.authors_photo {

}

@media (max-width: 1600px) {
    .authors_photo {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

.authors_imgFlowers {
    position: absolute;
    background-image: url("./img/bgs/flowersGroup.png");
    background-repeat: no-repeat;
    width: 399px;
    max-width: 100%;
    height: 100%;
    top: 7400px;
    right: 700px;
    z-index: -2;
}

.authors_imgHmns {
    position: absolute;
    top: 7575px;
    right: 220px;
    margin-left: 120px;
    background-image: url("./img/bgs/hmns.jpg");
    background-repeat: no-repeat;
    width: 603px;
    height: 100%;
    z-index: -1;

}

.author_photoFone {
    position: absolute;
    background-image: url("./img/bgs/photoFone.png");
    background-repeat: no-repeat;
    width: 775px;
    height: 100%;
    top: 7500px;
    right: 150px;
    z-index: -3;
}

.content_contacts {
    width: 100%;
    position: relative;
}

.contacts_bg {
    width: 1920px;
    min-width: 100%;
    height: 874px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .2) 70%, rgba(255, 255, 255, 1) 100%), url('./img/bgs/ireland.png');
    background-repeat: no-repeat;
    z-index: -100;
    position: absolute;
    top: 100%;
    right: 0;
}

.contacts_info {
    position: relative;
    background: #F7F7FA;
    box-shadow: 0 -6px 0 #515076;
    max-width: 531px;
    height: 345px;
    left: 350px;
    top: 500px;
}

.info_body {
    padding: 50px 20px 65px 80px;
}

.contacts_header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.contacts_desc {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #828282;
}

.contacts_phone {

}

.contacts_address {
    margin-top: 30px;
}

.contacts_social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social_ig {
    margin-left: 25px;
}