* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

:root {
    --headerViolet: #EDECF7;
    --mainViolett: #515076
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 100%;
}

.wrapper-header {
    width: 100%;
    height: 100px;
    background: var(--headerViolet);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 75%;
    display: grid;
    grid-template-columns: 60px 1fr 200px;
    align-items: center;
}

@media (max-width: 1500px) {
    .header {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .header {
        width: 90%;
    }
}

.menu-item {
    text-decoration: none;
    padding: 25px 15px;
}

.menu-item:hover {
    background: rgba(81, 80, 118, 0.1);
    border-radius: 3px;
}

.header-menu {
    margin-left: 4%;
}

.item-link {
    color: var(--mainViolett);
}

.header-card {
    display: flex;
    cursor: pointer;
}

.card:hover {
}

.card-contacts {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-link {
    color: var(--mainViolett);
    padding: 5px 5px;
}

.contacts-link:hover {
    background: rgba(81, 80, 118, 0.1);
    border-radius: 3px;
}

.wrapper-content {
    width: 100%;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-home {
    width: 75%;
}

@media (max-width: 1500px) {
    .content-home {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content-home {
        width: 93%;
    }
}

.home-img-seed {
    background-image: url("./img/bgs/Seed.png");
    background-repeat: no-repeat;
    width: 1451px;
    z-index: -100;
    height: 110%;
    position: absolute;
    top: 0;
    right: 0;
}

.home-img-berries {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 60%),
    url("./img/bgs/berries.png") no-repeat;
    position: absolute;
    top: 1100px;
    right: 0;
    width: 1583px;
    height: 100%;
    z-index: -100;
}

.home-header {
    font-family: Playfair Display, sans-serif;
    font-size: 230px;
    line-height: 92.4%;
    display: flex;
    align-items: center;
    color: var(--mainViolett);
}

.home-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content-block1 {
    text-align: start;
    margin-top: 88px;
    display: grid;
    grid-template-rows: 1000px 1fr;
}

.home-sub-header {
    font-size: 36px;
    line-height: 132.67%;
    color: #63678C;
}

.infoblock-block {
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}

.content-block2 {
    margin-top: 54px;
    display: grid;
    grid-template-rows: 150px 220px 200px 200px 180px;
}

.infoblock-diamaint {
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #828282;
}

.diamaint {
    color: #63678C;
}

.content-block3 {
    display: grid;
    grid-template-rows: 800px 400px;
}

.infoblock-star {
    text-align: end;
    align-content: end;
    width: 100%;
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    display: flex;
    text-transform: uppercase;
    color: #888794;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.infoblock-symbol-star {
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #888794;
}

.infoblock-block-under-star {
    width: 172px;
}

.infoblock-block5 {
    font-weight: 300;
    font-size: 36px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.home-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper-btn {
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    background: var(--mainViolett);
    border-radius: 100px;
    outline: none;
    border: none;
    display: flex;
    box-shadow: 0 0 20px var(--mainViolett);
    text-shadow: 0 0 20px var(--headerViolet);
    transition: 0.2s;
}

.btn-wrapper-btn:hover {
    box-shadow: none;
    text-shadow: none;
}

.btn-inner {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 35px;
}

.content-products {
    margin-top: 200px;
    width: 75%;
}

@media (max-width: 1500px) {
    .content-products {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content-products {
        width: 93%;
    }
}

.products-img-seeds-group {
    background-image: url("./img/bgs/SeedsGroup.png");
    background-repeat: no-repeat;
    width: 873px;
    height: 100%;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 1850px;
}

.products {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.products-header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    text-align: center;
    color: #757AA5;
}

.products-examples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: flex-end;
}

.example {
    background: #F7F7FA;
    max-width: 330px;
    height: fit-content;
    position: relative;
    transition: 0.5s;
}

.slider-btn {
    cursor: pointer;
}
.slider-prev {
    cursor: not-allowed;
}

.example:hover {
    box-shadow: 0 0 20px var(--mainViolett);
    bottom: 5px;
}

.prod {
    position: relative;
    transition: 0.5s;
}

.add-to-cart {
    cursor: pointer;
}

.prod:hover {
    box-shadow: 0 0 20px var(--mainViolett);
    bottom: 15px;
}

.examples-ex2 {
    max-width: 380px;
}

.ex-wrapper {
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-skin-type {
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.description-header {
    font-size: 20px;
    line-height: 135.99%;
    color: var(--mainViolett);
}

.description-payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.payment-add-to-cart {
    cursor: pointer;
}

.price-prev {
    text-decoration: line-through;
    font-size: 16px;
    margin-right: 10px;
    color: #888794;
}

.content-sales {
    margin-top: 250px;
    width: 75%;
}

@media (max-width: 1500px) {
    .content-sales {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content-sales {
        width: 93%;
    }
}

.sales-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 1400px) {
    .sales-header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 100px;
    }
}

.sales-img-vetka {
    background-image: url("./img/bgs/vetka.png");
    background-repeat: no-repeat;
    width: 1015px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -100;
}

.header-main {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.header-sub {
    font-weight: 500;
    font-size: 18px;
    line-height: 199.99%;
    color: #888794;
    width: 333px;
    margin-top: 100px;
}

.header-slider {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.slider-next {
    margin-left: 20px;
}

.sales-wrapper-slider {
    height: 521px;
    max-width: 810px;
    background: #F7F7FA;
    box-shadow: -40px 40px 0 #515076;
    display: grid;
    grid-template-columns: 20px 1fr 1fr;
}

.wrapper-slider-side-string {
    transform: rotate(270deg);
    font-weight: 500;
    font-size: 13px;
    line-height: 199.99%;
    text-align: right;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 100%;
    top: 250px;
    left: 2px;
    position: relative;
    width: 451px;
}

.slider-info {
    margin: 58px 0 0 5%;
}

.slider-info-header {
    max-width: 337px;
    height: 156px;
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #4C5072;
}

.slider-info-body {
    max-width: 433px;
    height: 111px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #888794;
    padding-top: 20px;
}

.slider-img {
    display: flex;
    align-items: center;
}

.slider-img-body {
    max-width: 100%;
}

.sales-products {
    margin-top: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: self-end;
    justify-items: center;
}

@media (max-width: 1200px) {
    .content-sales {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.prod {
    height: fit-content;
    max-width: 350px;
    min-width: 50%;
    background: #F7F7FA;
}

@media (max-width: 1500px) {
    .prod {
        max-width: 90%;
    }
}

.sale1 {
    font-size: 36px;
    line-height: 135.99%;
    padding: 25px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.1)
}

.sale2 {
    margin-bottom: -180px;
    font-weight: 500;
    font-size: 36px;
    line-height: 135.99%;
    padding: 50px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.15);
}

.sale3 {
    margin-bottom: -440px;
    font-weight: 600;
    font-size: 36px;
    line-height: 135.99%;
    padding: 75px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.2);
}

.sale {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-body {
    padding: 10px 40px 35px 40px;
}

.prod-description {
    font-size: 18px;
    line-height: 135.99%;
    color: #515076;
}

.prod-payment {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 135.99%;
    color: rgba(81, 80, 118, 1);
    display: flex;
    justify-content: space-between;
}

.price-prev {
    font-weight: 500;
    font-size: 18px;
    line-height: 135.99%;
    text-decoration-line: line-through;
    color: rgba(81, 80, 118, 0.6);
}

.sale2-imgs {
    width: 350px;
}

.sale2-b1 {
    position: relative;
    top: 250px;
    z-index: 1;
}

.sale2-b2 {
    position: relative;
    left: 60px;
    bottom: 10px;
    z-index: 0;
}

.sale3-b1 {
    position: relative;
    top: 520px;
    z-index: 3;

}

.sale3-b2 {
    position: relative;
    top: 230px;
    left: 100px;
    max-width: 100%;
}


.sale3-b3 {
    position: relative;
    right: 40px;
    bottom: 35px;
}

.content-about {
    margin-top: 350px;
    width: 100%;
    background: #EDECF6;
    height: 1020px;
}

@media (max-width: 1300px) {
    .content-about {
        height: 100%;
    }
}

.about-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Playfair Display, sans-serif;
    font-size: 330px;
    line-height: 92.4%;
    color: #D6D4E7;
    position: relative;
    bottom: 200px;
}

@media (max-width: 1350px) {
    .about-header {
        font-size: 290px;
        bottom: 180px;
    }
}

@media (max-width: 1200px) {
    .about-header {
        font-size: 200px;
        bottom: 125px;
    }
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.about-img-flower {
    background-image: url("img/bgs/flower.png");
    background-repeat: no-repeat;
    width: 638px;
    height: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
}

@media (max-width: 1920px) {
    .about-img-flower {
        top: 4800px;
    }
}

@media (max-width: 1300px) {
    .about-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .about-info-block {
        justify-self: center;
        margin-bottom: 30px;
    }
}

.wrapper-imgs {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}


.img-woman {
    background-image: url("./img/bgs/woman.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 4800px;
    left: 50px;
    height: 700px;
    width: 1014px;
    z-index: 2;
}

@media (max-width: 1400px) {
    .img-woman {
        top: 5350px;
    }
    .about-img-flower {
        top: 5250px;
        z-index: 1;
    }
}

.img-blur {
    background-image: url("./img/bgs/blur.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5200px;
    left: 0;
    height: 400px;
    width: 1209px;
    z-index: 3;
}

@media (max-width: 1400px) {
    .img-blur {
        top: 5750px;
    }
}

.img-ellipse {
    background-image: url("./img/bgs/Ellipse.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 4800px;
    left: 120px;
    height: 600px;
    width: 546px;
    z-index: 0;
}

@media (max-width: 1400px) {
    .img-ellipse {
        top: 5350px;
    }
}

.img-berries {
    background-image: url("./img/bgs/berries3.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5350px;
    left: 650px;
    width: 174px;
    height: 200px;
    z-index: 3;
}

@media (max-width: 1400px) {
    .img-berries {
        top: 5900px;
    }
}


.about-info-block {
    max-width: 462px;
    position: relative;
    z-index: 10;
}

@media (max-width: 1200px) {
    .about-info-block {
        justify-self: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.info-block-subheader {
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.info-block-header {
    margin-top: 50px;
    font-weight: 300;
    line-height: 109.4%;
    display: flex;
    flex-direction: column;
    color: #515076;
    font-size: 100px;
}

.info-block-header-int {
    font-size: 120px;
}

.info-block-info {
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #888794;
}

.content-useful {
    width: 75%;
    margin-top: 125px;
    height: 1060px;
}

@media (max-width: 1500px) {
    .content-useful {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content-useful {
        width: 93%;
    }
}

.useful-header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    text-align: center;
    color: #757AA5;
    width: 100%;
}

.useful-items {
    margin-top: 80px;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas:
                ". first ."
                "sec . third"
                ". fourth .";
}

@media (max-width: 1100px) {
    .useful-items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-template-areas: "first sec"
                             "third fourth";
    }
}

.item {
    max-width: 300px;
    height: 400px;
    background: #F7F7FA;
    box-shadow: 0 -6px 0 #515076;
    transition: 1s;
}

.item:hover {
    box-shadow: 0 0 20px var(--mainViolett);
}

.item-content {
    padding: 30px 14px 35px 48px;
}

.item-subheader {
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.item-header {
    margin-top: 20px;
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.item-body {
    margin-top: 30px;
    font-size: 14px;
    line-height: 180%;
    color: #888794;
}

.item-action {
    margin-top: 80px;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-action4 {
    margin-top: 105px;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item1 {
    grid-area: first;
}

.item2 {
    grid-area: sec;
    margin-top: 50px;
}

@media (max-width: 1100px) {
    .item2 {
        margin-top: 0;
    }
}

.item3 {
    grid-area: third;
}

.item4 {
    grid-area: fourth;
    margin-bottom: 150px;

}

.content-authors {
    margin-top: 145px;
    width: 75%;
}


.authors-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.authors-info {
    display: grid;
    grid-template-rows: 150px 1fr 200px;
}

.authors-header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.author-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 600px;
}

.author-name {
    margin-top: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 199.99%;
    color: #515076;
}

.author-desc {
    margin-top: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #888794;
    max-width: 665px;
}

.quote {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}

.author-symbol-quotes {
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 180%;
    color: #77877F;
}

.author-quote {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #888794;
    margin-left: 40px;
    max-width: 554px;
}

.author-slider {
    display: flex;
    margin-top: 75px;
    max-width: 665px;
}

.author-slider-image1 {
width: 186px;
    height: 207px;
    box-shadow: 0 -6px 0 #515076 ;
}

.author-slider-image2 {
    width: 186px;
    height: 207px;
    box-shadow: 0 -6px 0 #515076 ;
    margin-left: 60px;
}

.author-slider-image3 {
    width: 186px;
    height: 207px;
    box-shadow: 0 -6px 0 #515076 ;
    margin-left: 60px;
}

@media (max-width: 1600px) {
    .authors-photo {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

.authors-img-flowers {
    position: absolute;
    background-image: url("./img/bgs/flowersGroup.png");
    background-repeat: no-repeat;
    width: 399px;
    max-width: 100%;
    height: 100%;
    top: 7000px;
    right: 700px;
    z-index: -2;
}

.authors-img-ppls {
    position: absolute;
    top: 7175px;
    right: 220px;
    margin-left: 120px;
    background-image: url("./img/bgs/hmns.jpg");
    background-repeat: no-repeat;
    width: 603px;
    height: 100%;
    z-index: -1;

}

.author-photo-background {
    position: absolute;
    background-image: url("./img/bgs/photoFone.png");
    background-repeat: no-repeat;
    width: 775px;
    height: 100%;
    top: 7100px;
    right: 150px;
    z-index: -3;
}

.content-contacts {
    width: 100%;
    position: relative;
    margin-top: -150px;
}

.contacts-bg {
    width: 1920px;
    min-width: 100%;
    height: 750px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .2) 70%, rgba(255, 255, 255, 1) 100%),
    url('./img/bgs/ireland.png');
    background-repeat: no-repeat;
    z-index: -100;
    position: absolute;
    top: 100%;
    right: 0;
}

.contacts-info {
    position: relative;
    background: #F7F7FA;
    box-shadow: 0 -6px 0 #515076;
    max-width: 531px;
    height: 345px;
    left: 10%;
    top: 500px;
}

.info-body {
    padding: 50px 20px 65px 80px;
}

.contacts-header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.contacts-desc {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #828282;
}

.contacts-address {
    margin-top: 30px;
}

.contacts-social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-ig {
    margin-left: 25px;
    cursor: pointer;
}

.social-fb {
    cursor: pointer;
}