/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*body {*/
/*    font-family: Montserrat, sans-serif;*/
/*    overflow-x: hidden;*/

/*}*/

/*@media (max-width: 1980px) {*/
/*    .wrapper {*/
/*        max-width: 1980px;*/
/*    }*/
/*    .home_imgBerries {*/
/*        position: absolute;*/
/*        z-index: -100;*/
/*        right: 0;*/
/*        top: 800px;*/
/*        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 60%),*/
/*        url("./img/bgs/berries.png") no-repeat;*/
/*    }*/

/*    .header {*/
/*        width: 75%;*/
/*    }*/

/*    .wrapper_content {*/
/*        width: 75%;*/
/*    }*/

/*    .content_block2 {*/
/*        width: 300px;*/
/*        grid-template-rows: 150px 200px 200px 200px 200px;*/
/*    }*/

/*    .content_block3 {*/
/*        margin-left: 102px;*/
/*    }*/

/*    .content_products {*/

/*    }*/

/*    .products {*/
/*        grid-template-rows: 100px 1fr;*/
/*        grid-template-columns: 1fr;*/
/*    }*/

/*    .products_examples {*/
/*        grid-gap: 2%;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        grid-template-rows: 1fr;*/
/*        justify-self: center;*/
/*        align-items: self-end;*/
/*        margin-top: 80px;*/
/*    }*/

/*    .example {*/
/*        width: 100%;*/
/*        padding: 62px 20px;*/
/*    }*/

/*    .examples_ex1 {*/
/*        height: 520px;*/
/*    }*/

/*    .examples_ex2 {*/
/*        height: 600px;*/

/*    }*/

/*    .examples_ex3 {*/
/*        height: 520px;*/
/*    }*/

/*    .description_payment {*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*    }*/


/*    .content_sales {*/
/*        margin-top: 180px;*/
/*    }*/

/*    .sales_header {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/

/*    .sales_products {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        margin-top: 270px;*/
/*        align-items: end;*/
/*        justify-items: center;*/
/*        grid-gap: 30px;*/

/*    }*/

/*    .prod {*/
/*        width: 350px;*/
/*        align-items: flex-end;*/
/*        justify-content: center;*/
/*        flex-direction: column;*/
/*        height: fit-content;*/
/*        background: #F7F7FA;*/
/*    }*/
/*    .sale1_imgs {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/

/*    .prod_payment {*/
/*        width: 100%;*/
/*        padding: 40px;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: space-between;*/
/*        font-weight: 500;*/
/*        font-size: 20px;*/
/*        line-height: 24px;*/
/*        color: rgb(81, 80, 118);*/
/*        box-sizing: border-box;*/
/*    }*/

/*    .sale2_b1 {*/
/*        position: relative;*/
/*        left: 100px;*/
/*        z-index: 2;*/
/*    }*/

/*    .sale2_b2 {*/
/*        position: relative;*/
/*        right: 115px;*/
/*        bottom: 15px;*/
/*        z-index: 1;*/
/*    }*/
/*    .sale3_imgs {*/
/*        height: 400px;*/
/*    }*/

/*    .sale3_b1 {*/
/*        position: relative;*/
/*        top: 130px;*/
/*        left: 0px;*/
/*        z-index: 3;*/

/*    }*/

/*    .sale3_b2 {*/
/*        position: relative;*/
/*        left: 100px;*/
/*        bottom: 170px;*/
/*        z-index: 1;*/
/*    }*/

/*    .sale3_b3 {*/
/*        position: relative;*/
/*        right: 40px;*/
/*        bottom: 430px;*/
/*        z-index: 2;*/
/*    }*/
/*    .about_header {*/
/*        position: relative;*/
/*        bottom: 200px;*/
/*        font-size: 300px;*/
/*        line-height: 92.4%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/

/*    .header_wrapper {*/
/*        color: #D6D4E7;*/
/*        font-family: Playfair Display, sans-serif;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        position: relative;*/
/*    }*/

/*    .about_wrapper {*/
/*        display: grid;*/
/*        grid-template-rows: 100%;*/
/*        grid-template-columns: 1fr 1fr;*/
/*        justify-items: center;*/
/*    }*/

/*    .wrapper_imgs {*/
/*        display: grid;*/
/*        grid-template-columns: 100px 100px 100px 100px;*/
/*        grid-template-rows: 500px;*/
/*    }*/
/*    .addToCart {*/
/*        cursor: pointer;*/

/*    }*/
/*    .payment_addToCart {*/
/*        margin-left: 150px;*/
/*        cursor: pointer;*/
/*    }*/
/*    .content_about {*/
/*        width: 100vw;*/
/*        position: relative;*/
/*        z-index: 1;*/
/*        left: calc(-50vw + 50%);*/
/*        background: #EDECF6;*/
/*        margin-top: 300px;*/
/*        height: 1023px;;*/
/*    }*/

/*    .img_woman {*/
/*        background-image: url("./img/bgs/woman.png");*/
/*        position: relative;*/
/*        z-index: 1;*/
/*        bottom: 200px;*/
/*        right: 150px;*/
/*    }*/

/*    .img_blur {*/
/*        background-image: url("./img/bgs/blur.png");*/
/*        position: relative;*/
/*        z-index: 2;*/
/*        top: 200px;*/
/*        right: 350px;*/
/*    }*/

/*    .img_ellipse {*/
/*        background-image: url("./img/bgs/Ellipse.png");*/
/*        position: absolute;*/
/*        z-index: 0;*/
/*        bottom: 350px;*/
/*        left: 250px;*/
/*    }*/

/*    .img_berries {*/
/*        background-image: url("./img/bgs/berries.png");*/
/*        position: absolute;*/
/*        z-index: 0;*/
/*        bottom: 350px;*/
/*        left: 250px;*/
/*    }*/

/*    .about_imgFlower {*/
/*        background-image: url("./img/bgs/flower.png");*/
/*        background-repeat: no-repeat;*/
/*        position: absolute;*/
/*        top: 100px;*/
/*        right: 0;*/
/*        z-index: -12;*/

/*    }*/
/*    .useful_items {*/
/*        margin-top: 85px;*/
/*    }*/

/*    .item {*/
/*        background: #F7F7FA;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: flex-start;*/
/*        justify-content: flex-start;*/
/*        width: 300px;*/
/*        height: 400px;*/
/*        box-shadow: 0 -6px 0 #515076;*/
/*        padding: 35px 15px 35px 50px;*/
/*    }*/

/*    .item_subheader {*/
/*        font-weight: 500;*/
/*        font-size: 12px;*/
/*        line-height: 199.99%;*/
/*        letter-spacing: 0.23em;*/
/*        text-transform: uppercase;*/
/*        color: #A5A3B9;*/
/*    }*/

/*    .item_header {*/
/*        margin-top: 20px;*/
/*        font-size: 20px;*/
/*        line-height: 135.99%;*/
/*        color: #515076;*/
/*    }*/

/*    .item_body {*/
/*        margin-top: 30px;*/
/*        font-size: 14px;*/
/*        line-height: 180%;*/
/*        color: #888794;*/
/*    }*/

/*    .item_dash1 {*/
/*        position: absolute;*/
/*        width: 25px;*/
/*        border: 1px solid #515076;*/
/*        top: 10px;*/
/*        left: -30px;*/
/*    }*/

/*    .item1 {*/
/*        position: relative;*/
/*    }*/

/*    .item2 {*/
/*        position: relative;*/
/*        right: 380px;*/
/*        bottom: 150px;*/
/*    }*/

/*    .item3 {*/
/*        position: relative;*/
/*        left: 380px;*/
/*        bottom: 780px;*/
/*    }*/

/*    .item4 {*/
/*        position: relative;*/
/*        bottom: 920px;*/
/*    }*/

/*    .item_action {*/
/*        font-weight: 500;*/
/*        font-size: 12px;*/
/*        line-height: 199.99%;*/
/*        letter-spacing: 0.23em;*/
/*        text-transform: uppercase;*/
/*        color: #515076;*/
/*        position: relative;*/
/*        top: 120px;*/
/*    }*/
/*    .content_authors {*/
/*        margin-top: -600px;*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/
/*}*/
/*@media (max-width: 1544px) {*/

/*    .about_imgFlower {*/
/*        display: none;*/
/*    }*/
/*    .wrapper {*/
/*        max-width: 1544px;*/
/*    }*/
/*    .wrapper_content {*/
/*        width: 95%;*/
/*    }*/
/*    .home_subHeader {*/
/*        width: 350px;*/
/*    }*/
/*    .authors_photo {*/
/*        position: static;*/
/*    }*/
/*    .about_header {*/
/*        position: relative;*/
/*        bottom: 180px;*/
/*        right: 2%;*/
/*        font-size: 260px;*/
/*        line-height: 92.4%;*/
/*        display: flex;*/
/*        align-items: flex-start;*/
/*    }*/
/*}*/

/*@media (max-width: 1300px) {*/
/*    .authors_photo {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media (max-width: 1100px) {*/
/*    .wrapper {*/
/*        max-width: 1100px;*/
/*    }*/

/*    .header {*/
/*        width: 90%;*/
/*    }*/

/*    .home_imgSeed {*/
/*        right: -20%;*/
/*    }*/

/*    .home_imgBerries {*/
/*        display: none;*/
/*    }*/

/*    .about_imgFlower {*/
/*        display: none;*/
/*    }*/

/*    .authors_photo {*/
/*        display: none;*/
/*    }*/

/*    .content_block2 {*/
/*        grid-template-rows: 200px 200px 200px 200px 200px;*/
/*        width: 300px;*/
/*    }*/

/*    .wrapper_content {*/
/*        width: 95%;*/
/*    }*/

/*    .content_block3 {*/
/*        margin-left: 0;*/
/*    }*/

/*    .content_products {*/

/*    }*/

/*    .products {*/
/*        grid-template-columns: 100%;*/
/*        grid-template-rows: 100px 100%;*/
/*    }*/

/*    .products_examples {*/
/*        grid-gap: 10px;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        grid-template-rows: 1fr;*/
/*        align-items: self-end;*/
/*    }*/

/*    .example {*/
/*        padding: 0;*/
/*    }*/

/*    .examples_ex1 {*/
/*        width: 100%;*/
/*    }*/

/*    .examples_ex2 {*/
/*        width: 100%;*/
/*    }*/

/*    .examples_ex3 {*/
/*        width: 100%;*/
/*    }*/

/*    .ex_description {*/
/*        padding: 20px;*/
/*    }*/

/*    .description_payment {*/
/*        display: flex;*/
/*        justify-content: normal;*/
/*    }*/

/*    .payment_addToCart {*/
/*        margin-left: 150px;*/
/*        cursor: pointer;*/
/*    }*/

/*    .sales_header {*/
/*        grid-template-columns: 0;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*    .salesHeader_wrapper {*/
/*        width: 75%;*/
/*    }*/

/*    .sales_products {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        width: 100%;*/
/*    }*/

/*    .prod {*/
/*        width: 100%;*/
/*        margin-bottom: 20px;*/
/*    }*/

/*    .prod_payment {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: space-between;*/
/*        font-weight: 500;*/
/*        font-size: 20px;*/
/*        color: rgb(81, 80, 118);*/
/*        box-sizing: border-box;*/
/*    }*/

/*    .sale {*/
/*        width: 100%;*/
/*    }*/

/*    .sale1_imgs {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/

/*    .sale2_imgs {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/

/*    .sale3_imgs {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/

/*    .about_header {*/
/*        position: relative;*/
/*        bottom: 150px;*/
/*        font-size: 200px;*/
/*        line-height: 92.4%;*/
/*        display: flex;*/
/*        align-items: flex-start;*/
/*    }*/

/*    .header_wrapper {*/
/*        color: #D6D4E7;*/
/*        font-family: Playfair Display, sans-serif;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        position: relative;*/
/*    }*/

/*    .about_wrapper {*/
/*        display: grid;*/
/*        margin-top: -100px;*/
/*        grid-template-columns: 100%;*/
/*        grid-template-rows: 1fr;*/
/*    }*/

/*    .wrapper_imgs {*/
/*        position: relative;*/
/*        z-index: 0;*/
/*    }*/

/*    .content_about {*/
/*        width: 100vw;*/
/*        position: relative;*/
/*        left: calc(-50vw + 50%);*/
/*        background: #EDECF6;*/
/*        margin-top: 300px;*/
/*        height: 1023px;*/
/*    }*/
/*    .useful_items {*/
/*        margin-top: 85px;*/
/*        display: grid;*/
/*        grid-template-rows: 1fr 1fr;*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/

/*    .item {*/
/*        background: #F7F7FA;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: flex-start;*/
/*        justify-content: flex-start;*/
/*        width: 300px;*/
/*        height: 400px;*/
/*        box-shadow: 0 -6px 0 #515076;*/
/*        padding: 35px 15px 35px 50px;*/
/*    }*/

/*    .item_subheader {*/
/*        font-weight: 500;*/
/*        font-size: 12px;*/
/*        line-height: 199.99%;*/
/*        letter-spacing: 0.23em;*/
/*        text-transform: uppercase;*/
/*        color: #A5A3B9;*/
/*    }*/

/*    .item_header {*/
/*        margin-top: 20px;*/
/*        font-size: 20px;*/
/*        line-height: 135.99%;*/
/*        color: #515076;*/
/*    }*/

/*    .item_body {*/
/*        margin-top: 30px;*/
/*        font-size: 14px;*/
/*        line-height: 180%;*/
/*        color: #888794;*/
/*    }*/

/*    .item_dash1 {*/
/*        position: absolute;*/
/*        width: 25px;*/
/*        border: 1px solid #515076;*/
/*        top: 10px;*/
/*        left: -30px;*/
/*    }*/
/*    .item {*/
/*        margin: 10px;*/
/*    }*/

/*    .item1 {*/
/*        position: static;*/
/*    }*/

/*    .item2 {*/
/*        position: static;*/
/*    }*/

/*    .item3 {*/
/*        position: static;*/
/*    }*/

/*    .item4 {*/
/*        position: static;*/
/*    }*/

/*    .item_action {*/
/*        font-weight: 500;*/
/*        font-size: 12px;*/
/*        line-height: 199.99%;*/
/*        letter-spacing: 0.23em;*/
/*        text-transform: uppercase;*/
/*        color: #515076;*/
/*        position: relative;*/
/*        top: 120px;*/
/*    }*/
/*    .content_authors {*/
/*        margin-top: 0;*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/

/*    .sale3_b1 {*/
/*        position: relative;*/
/*        z-index: 3;*/
/*        top: 50px;*/
/*        left: 280px;*/
/*    }*/

/*    .sale3_b2 {*/
/*        position: relative;*/
/*        z-index: 1;*/
/*        top: 50px;*/
/*        left: 50px;*/
/*    }*/

/*    .sale3_b3 {*/
/*        position: relative;*/
/*        z-index: 2;*/
/*        top: 50px;*/
/*        right: 400px;*/

/*    }*/
/*}*/


/*.wrapper {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/

/*.container_header {*/
/*    width: 100vw;*/
/*    height: 100px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: #EDECF6;*/
/*}*/

/*.header {*/
/*    display: grid;*/
/*    grid-template-columns: 60px 1fr 200px;*/
/*    align-items: center;*/
/*}*/

/*.header_menu {*/
/*    width: 627px;*/
/*    margin-left: 55px;*/
/*}*/

/*.menu_item {*/
/*    text-decoration: none;*/
/*    padding: 15px 25px;*/
/*}*/

/*.menu_item:hover {*/
/*    background: rgba(81, 80, 118, 0.1);*/
/*    border-radius: 3px;*/
/*}*/

/*.item_link {*/
/*    color: #515076;*/
/*}*/

/*.header_card {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-left: 20%;*/
/*}*/

/*.card {*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: #ffffff;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    position: relative;*/
/*}*/

/*.card_circle {*/
/*    position: absolute;*/
/*    top: -2px;*/
/*    right: -2px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: #757AA5;*/
/*}*/

/*.card_circle_counter {*/
/*    color: #ffffff;*/
/*    font-weight: 500;*/
/*}*/

/*.card_contacts {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/

/*.contacts_link {*/
/*    text-decoration: none;*/
/*    color: #515076;*/
/*    padding: 10px;*/
/*}*/

/*.content_home {*/

/*}*/

/*.home_imgSeed {*/
/*    background-image: url("./img/bgs/Seed.png");*/
/*    position: absolute;*/

/*    right: 0;*/
/*    top: 0;*/
/*    z-index: -10;*/
/*}*/

/*.home_imgEucalyptus {*/
/*    background-image: url("./img/bgs/eucalyptus.png");*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 710px;*/
/*    z-index: -10;*/
/*}*/

/*.home_header {*/
/*    font-family: Playfair Display, sans-serif;*/
/*    font-size: 230px;*/
/*    color: #515076;*/
/*    line-height: 213px;*/
/*    position: relative;*/
/*    z-index: -1;*/
/*}*/

/*.home_content {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*}*/

/*.content_block1 {*/
/*    margin-top: 88px;*/
/*    display: grid;*/
/*    grid-template-rows: 1000px 1fr;*/
/*}*/

/*.content_block2 {*/
/*    margin-top: 54px;*/
/*    display: grid;*/
/*}*/

/*.content_block3 {*/
/*    display: grid;*/
/*    grid-template-rows: 642px 220px;*/
/*}*/

/*.infoBlock_star {*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*    justify-content: flex-end;*/
/*    flex-direction: column;*/
/*}*/

/*.infoBlock_symbolStar {*/
/*    font-family: Work Sans, sans-serif;*/
/*    font-weight: 300;*/
/*    font-size: 36px;*/
/*    line-height: 66px;*/
/*    letter-spacing: 0.3em;*/
/*    text-transform: uppercase;*/
/*    color: #888794;*/
/*}*/

/*.infoBlock_blockUnderStar {*/
/*    font-family: Work Sans, sans-serif;*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 29px;*/
/*    text-align: right;*/
/*    letter-spacing: 0.3em;*/
/*    text-transform: uppercase;*/
/*    color: #888794;*/
/*    width: 172px;*/
/*}*/

/*.infoBlock_infoBlock5 {*/
/*    font-weight: 300;*/
/*    font-size: 36px;*/
/*    line-height: 39px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #757AA5;*/
/*}*/

/*.home_subHeader {*/
/*    font-size: 36px;*/
/*    line-height: 48px;*/
/*    color: #63678C;*/
/*}*/

/*.infoBlock_block {*/
/*    font-size: 18px;*/
/*    line-height: 31px;*/
/*    color: #888794;*/
/*}*/

/*.infoBlock_diamaint {*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    line-height: 31px;*/
/*    color: #828282;*/
/*}*/

/*.diamaint {*/
/*    font-weight: 600;*/
/*    color: #757AA5;*/
/*}*/

/*.home_btnWrapper {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.btnWrapper_btn {*/
/*    background: #515076;*/
/*    border-radius: 100px;*/
/*    outline: none;*/
/*    border: none;*/
/*    padding: 27px 35px 27px 35px;*/
/*    cursor: pointer;*/
/*}*/

/*.btn_inner {*/
/*    font-weight: 600;*/
/*    font-size: 13px;*/
/*    line-height: 16px;*/
/*    text-align: center;*/
/*    letter-spacing: 0.32em;*/
/*    text-transform: uppercase;*/
/*    color: #FFFFFF;*/
/*    opacity: 0.9;*/
/*}*/

/*.infoBlock3 {*/
/*    padding-top: 40px;*/
/*}*/



/*.products_imgSeeds_group {*/
/*    background-image: url("./img/bgs/SeedsGroup.png");*/
/*    position: absolute;*/
/*    z-index: -10;*/
/*    left: 0;*/
/*}*/

/*.products {*/
/*    display: grid;*/
/*}*/

/*.products_header {*/
/*    font-weight: 200;*/
/*    font-size: 70px;*/
/*    line-height: 77px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    color: #757AA5;*/
/*}*/

/*.products_examples {*/
/*    display: grid;*/

/*}*/

/*.example {*/
/*    background: #F7F7FA;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    box-sizing: border-box;*/
/*}*/

/*.ex_wrapper {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*}*/


/*.description_skinType {*/
/*    font-weight: 500;*/
/*    font-size: 12px;*/
/*    line-height: 24px;*/
/*    letter-spacing: 0.23em;*/
/*    text-transform: uppercase;*/
/*    color: #A5A3B9;*/
/*}*/

/*.description_header {*/
/*    font-weight: normal;*/
/*    font-size: 20px;*/
/*    line-height: 27px;*/
/*    color: #515076;*/
/*}*/


/*.payment_price {*/
/*    font-weight: 500;*/
/*    font-size: 20px;*/
/*    line-height: 27px;*/
/*    color: #515076;*/
/*}*/

/*.price_prev {*/
/*    text-decoration: line-through;*/
/*    font-size: 16px;*/
/*    color: #6e6d87;*/
/*    margin-right: 10px*/

/*}*/

/*.ex_description {*/
/*    display: grid;*/
/*    width: 100%;*/
/*    grid-template-rows: 30px 150px 50px;*/
/*}*/


/*.header_main {*/
/*    font-weight: 200;*/
/*    font-size: 70px;*/
/*    line-height: 77px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #757AA5;*/
/*}*/

/*.header_sub {*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    line-height: 36px;*/
/*    width: 333px;*/
/*    color: #888794;*/
/*    margin-top: 100px;*/
/*}*/

/*.header_slider {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*}*/

/*.slider_btn {*/
/*    margin-top: 50px;*/
/*    cursor: pointer;*/
/*    border: 1px solid #888794;*/
/*    box-sizing: border-box;*/
/*    border-radius: 50%;*/
/*    width: 73px;*/
/*    height: 73px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.slider_next {*/
/*    transform: rotate(180deg);*/
/*    margin-left: 20px;*/
/*}*/

/*.slider_prev {*/
/*    cursor: not-allowed;*/
/*    opacity: .5;*/
/*}*/

/*.sales_imgVetka {*/
/*    background-image: url("./img/bgs/vetka.png");*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 2800px;*/
/*    z-index: -100;*/
/*}*/

/*.item_action {*/
/*    cursor: pointer;*/
/*}*/

/*.sales_wrapperSlider {*/
/*    !*max-width: 100%;*!*/
/*    max-width: 810px;*/
/*    background: #F7F7FA;*/
/*    box-shadow: -40px 40px 0 #515076;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 285px;*/
/*    position: relative;*/
/*}*/

/*.wrapperSlider_sideString {*/
/*    position: absolute;*/
/*    transform: rotate(270deg);*/
/*    bottom: 100px;*/
/*    left: -135px;*/
/*    font-weight: 500;*/
/*    font-size: 13px;*/
/*    line-height: 26px;*/
/*    text-align: right;*/
/*    letter-spacing: 0.17em;*/
/*    text-transform: uppercase;*/
/*    color: #FFFFFF;*/
/*}*/

/*.sales_slider {*/
/*    height: 100%;*/
/*}*/

/*.slider_img {*/
/*    background: url("./img/bgs/bottles/2bottle.png") no-repeat right;*/
/*}*/

/*.slider_info {*/
/*    padding: 50px 50px 72px 62px;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-direction: column;*/
/*}*/

/*.sliderInfo_pageCounter {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background: #EDECF7;*/
/*    border-radius: 50%;*/
/*    width: 62px;*/
/*    height: 62px;*/
/*}*/

/*.social_ig {*/
/*    cursor: pointer;*/
/*}*/

/*.social_fb {*/
/*    cursor: pointer;*/
/*}*/

/*.sliderInfo_header {*/
/*    font-weight: 300;*/
/*    font-size: 30px;*/
/*    line-height: 39px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #4C5072;*/
/*}*/

/*.sliderInfo_body {*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 32px;*/
/*    color: #888794;*/
/*}*/

/*.sales_products {*/

/*}*/



/*.prod1 {*/
/*    font-size: 36px;*/
/*    line-height: 49px;*/
/*    color: #515076;*/
/*}*/

/*.prod2 {*/
/*    font-weight: 500;*/
/*    font-size: 36px;*/
/*    line-height: 49px;*/
/*    color: #515076;*/
/*}*/

/*.prod3 {*/
/*    font-weight: 600;*/
/*    font-size: 36px;*/
/*    line-height: 49px;*/
/*    color: #515076;*/
/*}*/

/*.sale1 {*/
/*    padding: 25px 0;*/
/*    background: rgba(81, 80, 118, 0.1);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.sale2 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 50px 0;*/
/*    background: rgba(81, 80, 118, 0.15)*/
/*}*/

/*.sale3 {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: rgba(81, 80, 118, 0.2);*/
/*    padding: 75px 0;*/
/*}*/

/*.prod_description {*/
/*    padding: 40px;*/
/*    font-weight: normal;*/
/*    font-size: 18px;*/
/*    line-height: 24px;*/
/*    color: #515076;*/
/*}*/


/*.price_prev {*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    line-height: 24px;*/
/*    color: rgba(81, 80, 118, 0.6);*/
/*    text-decoration: line-through;*/
/*}*/

/*.sale2_imgs {*/
/*    height: 360px;*/
/*    flex-direction: row;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-end;*/
/*}*/





/*.about_infoBlock {*/
/*    height: 820px;*/
/*    z-index: 10;*/

/*}*/

/*.infoBlock_subheader {*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 179.99%;*/
/*    letter-spacing: 0.3em;*/
/*    text-transform: uppercase;*/
/*    color: #A5A3B9;*/
/*    width: 343px;*/
/*}*/

/*.infoBlock_header {*/
/*    padding: 50px 0 60px 0;*/
/*    font-weight: 300;*/
/*    font-size: 80px;*/
/*    line-height: 109.4%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 623px;*/
/*    text-transform: uppercase;*/
/*    color: #515076;*/
/*}*/

/*.infoBlock_header_int {*/
/*    font-size: 120px;*/
/*}*/

/*.infoBlock_info {*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 199.99%;*/
/*    color: #888794;*/
/*    width: 500px;*/
/*}*/

/*.content_useful {*/
/*    margin-top: 125px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/

/*.useful_header {*/
/*    font-weight: 200;*/
/*    font-size: 70px;*/
/*    line-height: 109.4%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    color: #757AA5;*/
/*}*/


/*.authors_wrapper {*/
/*    display: grid;*/
/*}*/

/*.authors_header {*/
/*    width: 573px;*/
/*    font-weight: 200;*/
/*    font-size: 70px;*/
/*    line-height: 109.4%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #757AA5;*/
/*}*/

/*.author_info {*/
/*    margin-top: 55px;*/
/*}*/

/*.author_name {*/
/*    font-weight: 500;*/
/*    font-size: 20px;*/
/*    line-height: 199.99%;*/
/*    color: #515076;*/
/*}*/

/*.author_desc {*/
/*    width: 665px;*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 180%;*/
/*    color: #888794;*/
/*    margin-top: 35px;*/

/*}*/

/*.quote {*/
/*    display: flex;*/
/*    margin-top: 40px;*/

/*}*/

/*.author_symbQuotes {*/
/*    font-family: Circe, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: bold;*/
/*    font-size: 60px;*/
/*    line-height: 180%;*/
/*    color: #77877F;*/
/*}*/

/*.author_quote {*/
/*    width: 554px;*/

/*    margin-left: 42px;*/
/*    font-weight: 600;*/
/*    font-size: 18px;*/
/*    line-height: 160%;*/
/*    color: #888794;*/
/*}*/

/*.author_slider {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    margin-top: 75px;*/
/*}*/

/*.author_slider_image1 {*/
/*    width: 186px;*/
/*    height: 200px;*/
/*    box-shadow: 0 -6px 0 #515076;*/
/*}*/

/*.author_slider_image2 {*/
/*    width: 186px;*/
/*    height: 200px;*/
/*    margin-left: 60px*/
/*}*/

/*.author_slider_image3 {*/
/*    width: 186px;*/
/*    height: 200px;*/
/*    margin-left: 60px*/
/*}*/

/*.authors_photo {*/
/*    height: 700px;*/
/*}*/

/*.authors_imgFlowers {*/
/*    position: relative;*/
/*    right: 150px;*/
/*    z-index: 1;*/
/*}*/

/*.authors_imgHmns {*/
/*    position: relative;*/
/*    bottom: 300px;*/
/*    left: 100px;*/
/*    z-index: 2;*/

/*}*/

/*.author_photoFone {*/
/*    position: relative;*/
/*    bottom: 1050px;*/
/*    z-index: 0;*/
/*}*/

/*.content_contacts {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background-image: linear-gradient(to top, rgba(0, 0, 0, .2) 70%, rgba(255, 255, 255, 1) 100%), url('./img/bgs/ireland.png');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*.about_bg {*/

/*}*/

/*.contacts_info {*/
/*    background: #F7F7FA;*/
/*    width: 531px;*/
/*    height: 345px;*/
/*    box-shadow: 0 -6px 0 #515076;*/
/*    position: relative;*/
/*    top: 220px;*/
/*    left: 270px;*/
/*}*/

/*.contacts_header {*/
/*    font-weight: 200;*/
/*    font-size: 70px;*/
/*    line-height: 109.4%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 50px 10px 33px 80px;*/
/*    color: #757AA5;*/
/*}*/

/*.contacts_desc {*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 199.99%;*/
/*    color: #828282;*/
/*    padding: 0 10px 15px 87px;*/
/*}*/

/*.contacts_social {*/
/*    padding: 0 0 66px 87px;*/
/*}*/

/*.social_ig {*/
/*    margin-left: 25px;*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 100%;
}

.container_header {
    width: 100%;
    height: 100px;
    background: #EDECF7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 75%;
    display: grid;
    grid-template-columns: 60px 1fr 200px;
    align-items: center;
}

@media (max-width: 1500px) {
    .header {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .header {
        width: 90%;
    }
}

.menu_item {
    text-decoration: none;
    padding: 25px 15px;
}

.menu_item:hover {
    background: rgba(81, 80, 118, 0.1);
    border-radius: 3px;
}

.header_menu {
    margin-left: 4%;
}

.menu_item {

}

.item_link {
    color: #515076;
}

.header_card {
    display: flex;
}
.card_contacts {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts_link {
    color: #515076;
}

.wrapper_content {
    width: 100%;
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content_home {
    width: 75%;
}

@media (max-width: 1500px) {
    .content_home {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_home {
        width: 93%;
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.home_imgSeed {
    background-image: url("./img/bgs/Seed.png");
    background-repeat: no-repeat;
    width: 1451px;
    z-index: -100;
    height: 110%;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1500px) {
    .home_imgSeed {

    }
}

@media (max-width: 1100px) {
    .home_imgSeed {

    }
}

.home_imgBerries {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 0) 60%),
    url("./img/bgs/berries.png") no-repeat;
    position: absolute;
    top: 1200px;
    right: 0;
    width: 1583px;
    height: 100%;
    z-index: -100;
}

@media (max-width: 1500px) {
    .home_imgBerries {

    }
}

@media (max-width: 1100px) {
    .home_imgBerries {

    }
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.home_header {
    font-family: Playfair Display, sans-serif;
    font-size: 230px;
    line-height: 92.4%;
    display: flex;
    align-items: center;
    color: #515076;
}

.home_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content_block1 {
    text-align: start;
    margin-top: 88px;
    display: grid;
    grid-template-rows: 1000px 1fr;
}

.home_subHeader {
    font-size: 36px;
    line-height: 132.67%;
    color: #63678C;
}

.infoBlock_block {
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}

.content_block2 {
    margin-top: 54px;
    display: grid;
    grid-template-rows: 150px 220px 200px 200px 180px;
}

.infoBlock_diamaint {
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    color: #828282;
}

.diamaint {
    color: #63678C;
}

.content_block3 {
    display: grid;
    grid-template-rows: 800px 400px;
}

.infoBlock_star {
    text-align: end;
    align-content: end;
    width: 100%;
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    display: flex;
    text-transform: uppercase;
    color: #888794;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.infoBlock_symbolStar {
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #888794;
}

.infoBlock_blockUnderStar {
    width: 172px;
}

.infoBlock_infoBlock5 {
    font-weight: 300;
    font-size: 36px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.home_btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnWrapper_btn {
    background: #515076;
    border-radius: 100px;
    outline: none;
    border: none;
    display: flex;
}

.btn_inner {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 35px;
}

.content_products {
    margin-top: 490px;
    width: 75%;
}

@media (max-width: 1500px) {
    .content_products {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_products {
        width: 93%;
    }
}

.products_imgSeeds_group {
    background-image: url("./img/bgs/SeedsGroup.png");
    background-repeat: no-repeat;
    width: 873px;
    height: 100%;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 1850px;
}

.products {
    display: grid;
    grid-template-rows: 100px 1fr;
}

.products_header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    text-align: center;
    color: #757AA5;
}

.products_examples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: flex-end;
}

.example {
    background: #F7F7FA;
    max-width: 330px;
    height: fit-content;
}

.examples_ex2 {
    max-width: 380px;
}

.ex_wrapper {
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ex_description {

}

.description_skinType {
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.description_header {
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.description_payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment_price {
    font-weight: 500;
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.price_prev {
    text-decoration: line-through;
    font-size: 16px;
    margin-right: 10px;
    color: #888794;
}

.content_sales {
    margin-top: 490px;
    width: 75%;
}

@media (max-width: 1500px) {
    .content_sales {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_sales {
        width: 93%;
    }
}

.sales_header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sales_imgVetka {
    background-image: url("./img/bgs/vetka.png");
    background-repeat: no-repeat;
    width: 1083px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -100;
}

.salesHeader_wrapper {

}

.header_main {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.header_sub {
    font-weight: 500;
    font-size: 18px;
    line-height: 199.99%;
    color: #888794;
    width: 333px;
    margin-top: 100px;
}

.header_slider {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slider_prev {
}

.slider_next {
    margin-left: 20px;
}

.sales_wrapperSlider {
    height: 521px;
    max-width: 810px;
    background: #F7F7FA;
    box-shadow: -40px 40px 0 #515076;
    display: flex;
}

.wrapperSlider_sideString {
    transform: rotate(270deg);
    font-weight: 500;
    font-size: 13px;
    line-height: 199.99%;
    text-align: right;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 100%;
    position: relative;
    width: 13px;
}

.slider_info {
    margin: 58px 0 0 5%;

}

.sliderInfo_header {
    max-width: 337px;
    height: 156px;
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #4C5072;
}

.sliderInfo_body {
    max-width: 433px;
    height: 111px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #888794;
    padding-top: 20px;
}

.slider_img {
    display: flex;
    align-items: center;
}

.sales_products {
    margin-top: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: self-end;
    justify-items: center;
}

@media (max-width: 1200px) {
    .content_sales {
        width: 100%;
    }
}

.prod {
    height: fit-content;
    max-width: 350px;
    min-width: 300px;
    background: #F7F7FA;
}

.sale1 {
    font-size: 36px;
    line-height: 135.99%;
    padding: 25px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.1)
}

.sale2 {
    margin-bottom: -180px;
    font-weight: 500;
    font-size: 36px;
    line-height: 135.99%;
    padding: 50px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.15);
}

.sale3 {
    margin-bottom: -440px;
    font-weight: 600;
    font-size: 36px;
    line-height: 135.99%;
    padding: 75px 0;
    color: #515076;
    background: rgba(81, 80, 118, 0.2);
}

.sale {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod_body {
    padding: 10px 40px 35px 40px;
}

.prod_description {
    font-size: 18px;
    line-height: 135.99%;
    color: #515076;
}

.prod_payment {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 135.99%;
    color: rgba(81, 80, 118, 1);
    display: flex;
    justify-content: space-between;
}

.price_prev {
    font-weight: 500;
    font-size: 18px;
    line-height: 135.99%;
    text-decoration-line: line-through;
    color: rgba(81, 80, 118, 0.6);
}

.sale2_imgs {
    width: 350px;
}

.sale2_b1 {
    position: relative;
    top: 250px;
    z-index: 1;
}

.sale2_b2 {
    position: relative;
    left: 60px;
    bottom: 10px;
    z-index: 0;
}

.sale3_b1 {
    position: relative;
    top: 520px;
    z-index: 3;

}

.sale3_b2 {
    position: relative;
    top: 230px;
    left: 100px;

}

.sale3_b3 {
    position: relative;
    right: 40px;
    bottom: 35px;
}

.content_about {
    margin-top: 350px;
    width: 100%;
    background: #EDECF6;
    height: 1023px;
}

.about_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Playfair Display, sans-serif;
    font-size: 330px;
    line-height: 92.4%;
    color: #D6D4E7;
    position: relative;
    bottom: 200px;
}

@media (max-width: 1350px) {
    .about_header {
        font-size: 290px;
        bottom: 180px;
    }
}

@media (max-width: 1200px) {
    .about_header {
        font-size: 200px;
        bottom: 125px;
    }
}

.about_wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.wrapper_imgs {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.img_woman {
    background-image: url("./img/bgs/woman.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5350px;
    left: 50px;
    height: 700px;
    width: 1014px;
    z-index: 2;
}

.img_blur {
    background-image: url("./img/bgs/blur.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5750px;
    left: 0;
    height: 400px;
    width: 1209px;
    z-index: 3;
}

.img_ellipse {
    background-image: url("./img/bgs/Ellipse.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5350px;
    left: 120px;
    height: 600px;
    width: 546px;
    z-index: 0;

}

.img_berries {
    background-image: url("./img/bgs/berries3.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5850px;
    left: 650px;
    width: 174px;
    height: 200px;
    z-index: 3;
}


.about_infoBlock {
    max-width: 462px;
    position: relative;
    z-index: 10;
}

.infoBlock_subheader {
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.infoBlock_header {
    margin-top: 50px;
    font-weight: 300;
    line-height: 109.4%;
    display: flex;
    flex-direction: column;
    color: #515076;
    font-size: 100px;
}

.infoBlock_header_int {
    font-size: 120px;
}

.infoBlock_info {
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: #888794;
}

.about_imgFlower {
    background-image: url("img/bgs/flower.png");
    width: 638px;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 5200px;
    right: 0;
}

.content_useful {
    width: 75%;
    margin-top: 125px;
    height: 1060px;
}

@media (max-width: 1500px) {
    .content_useful {
        width: 85%;
    }
}

@media (max-width: 1100px) {
    .content_useful {
        width: 93%;
    }
}

.useful_header {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    text-align: center;
    color: #757AA5;
    width: 100%;
}

.useful_items {
    width: 100%;
    display: grid;
    grid-template:
                ". first ."
                "sec . third"
                ". fourth .";
}

@media (max-width: 1100px) {
    .useful_items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

.item {
    max-width: 300px;
    height: 400px;
    background: #F7F7FA;
    box-shadow: 0 -6px 0 #515076;
}

.item_content {
    padding: 30px 14px 35px 48px;
}

.item_subheader {
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.item_header {
    margin-top: 20px;
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
}

.item_body {
    margin-top: 30px;
    font-size: 14px;
    line-height: 180%;
    color: #888794;
}

.item_action {
    margin-top: 80px;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
    display: flex;
    align-items: center;

}

.item_action4 {
    margin-top: 105px;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
    display: flex;
    align-items: center;
}

.item_dash1 {

}

.item1 {
    grid-area: first;
    /*position: relative;*/
    /*left: 800px;*/
}

.item2 {
    grid-area: sec;
    /*position: relative;*/
    /*left: 170px;*/
    /*top: 230px;*/
}

.item3 {
    grid-area: third;
    /*position: relative;*/
    /*left: 530px;*/
    /*top: 120px;*/

}

.item4 {
    grid-area: fourth;

    /*position: relative;*/
    /*right: 100px;*/
    /*top: 430px;*/
}

@media (max-width: 1500px) {
    .item1 {
        position: static;
    }
    .item2 {
        position: static;
    }
    .item3 {
        position: static;
    }
    .item4 {
        position: static;
    }
}